*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* navbar start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 120px;
    width: 100%;
}
.logo{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.logo h3{
    font-size: 2.8rem;
    font-weight: 800;
}
.pink{
    color:#F948B2;
}
.nav-items{
    width: 50%;
}
.nav-items ul{
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    font-size: 1.15rem;
    color: #3C354F;
}
.nav-items li i{
    color: red;
    font-size: 1.15rem;
}
.nav-items li{
    padding: 10px;
    border-radius: 8px;
}
.nav-items li:hover{
    background-color: rgba(11, 2, 35, 0.10);
}
/* navbar end */

/* banner section start */
.banner{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.banner-header-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.banner-header-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.8rem;
    font-weight: 800;
}
.banner-title{
    margin-left:180px;
}
.banner-title li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #534C64;
    margin-bottom: 18px;
}
.banner-image{
    width: 50%;
    height: auto;
}
.banner-image img{
    width: 90%;
}
.btn-1{
    width: 150px;
    height: 40px;
    background-image:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    border-radius: 45px;
    cursor: pointer;
    color: #fff;
    margin-top: 50px
}
.btn-2{
    width: 150px;
    height: 40px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    color: #fff;
    margin-top: 50px
}
/* banner section end */
/* main section start */
.we-are-gamer-section{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}
.about-gamers{
    text-align: right;
    padding-right: 240px;
}
.about-gamers h1{
    font-size: 3rem;
    font-weight: 700;
    line-height:normal;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 90px;
}
.description{
    color: #534C64;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: 400;
}
 .about-gamers h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: #534C64;
    line-height: 50px;
 }
 .purpose{
    margin-top: 30px;
 }
.gamers-img{
    padding-left: 250px;
    width: auto;
}
/* play games section start */
.play-games-section{
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-evenly;
}
.play-games-header{
    font-size: 3rem;
}
.play-img{
    margin-top: 60px;
}
.play-img > img-1{
    width: 50%;
}
.img-1{
    position: relative;
}
.img-2{
    position: relative;
    top: -300px;
    left: -50px;
}
/* play agmes section end */
/* option section start */
.options{
    max-width: 90%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px;
}
.option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 80px;
    background-color: #FFF;
}
.option:hover{
    color: #F948B2;
    border: 1px solid #F948B2;
    border-radius: 50px;
    box-shadow:-2px -2px 5px black;
}
/* option section end */
/* main section end */







/* responsive for mobile device view */
 @media screen and (max-width:576px) {
    .navbar,
    .nav-items ul
    {
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction:column-reverse;
        margin-top: 180px;
    }
    .banner-title {
        padding-left: 20px;
    }
    .banner-image img{
        width:90%;
        margin-top: 20px;
    }
    .we-are-gamer-section{
        flex-direction: column;
    }
    .gamers-img {
        width:100%;
        padding: 0px;
        margin-left: 110px;
    }
    .about-gamers{
        padding-right: 0px;
        text-align: center;
        margin-left: 130px;
    }
.play-games-section{
    flex-direction: column-reverse;
    }
    .play-img img-1{
        width:auto;
    }
    .play-games-header{
        margin-top: 0px;
        margin-left: 10px;
        text-align: center;
    }
    .options{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
/* responsive for medium devices */
@media screen  and (min-width:576px) and (max-width:992px) {
    .navbar
    {
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
    }
.banner-title{
    padding-left: 0px;
}
    .we-are-gamer-section{
        flex-direction: column;
        align-items: center;
    }
    .gamers-img {
        width: 80%;
        padding: 0px;
    }
    .about-gamers{
        padding-right: 0px;
        text-align: center;
        /* margin-left: 150px; */
    }
    .play-games-section{
        flex-direction: column-reverse;
        align-items: center;
        }
        .options{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
        }
}